<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiftGaloreRental.Properties.Settings.GiftGaloreConnectionString"
            connectionString="Data Source=LAPTOP-SGBENOV0\SQLEXPRESS01;Initial Catalog=GiftGalore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>